<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppBarUtils" version="2.5.1" targetFramework="wp8" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="wp8" />
  <package id="GoogleAnalyticsSDK" version="1.3.00" targetFramework="wp8" />
  <package id="GoogleAnalyticsTracker.Core" version="4.1.35" targetFramework="wp8" />
  <package id="GoogleAnalyticsTracker.WP8" version="4.1.35" targetFramework="wp8" />
  <package id="Microsoft.AdMediator.WindowsPhone8.MicrosoftAdvertising" version="2.1.3" targetFramework="wp8" />
  <package id="Microsoft.Advertising.WindowsPhone.SL80" version="6.2.40501.1" targetFramework="wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wp8" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp8" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wp8" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wp8" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="wp8" />
  <package id="MyToolkit" version="2.5.12.0" targetFramework="wp8" />
  <package id="MyToolkit.Extended" version="2.5.12.0" targetFramework="wp8" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
</packages>